# Level 1

> click [here](https://docs.google.com/document/d/1eeV7xn1iit-TvPPws2iqnQQMTsrWOwCD69XO2HX-ILI/edit?tab=t.0) for questions

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('ecommerce_sales_dataset.csv')
df.head()

,order_id,customer_id,product,category,quantity,unit_price,discount_percent,total_amount,region,payment_mode,order_date
0,10001,2102,Smartwatch,Wearables,1,7538,20,6030.4,East,UPI,2024-05-14
1,10002,2435,Keyboard,Accessories,1,2443,10,2198.7,South,Cash on Delivery,2023-03-26
2,10003,2270,Headphones,Accessories,3,2914,5,8304.9,North,Net Banking,2024-01-21
3,10004,2106,Mouse,Accessories,3,1604,5,4571.4,South,Cash on Delivery,2023-02-22
4,10005,2071,Mouse,Accessories,4,2906,5,11042.8,South,Cash on Delivery,2023-04-25

### How many total orders are present in the dataset?

In [4]:
df.shape[0]
# total 1000 orders are present in this datasets
# can see it using 'shape'(specifically rows) attribute of dataframe

1000

### How many unique customers are there?

In [6]:
df['customer_id'].nunique()
# 476 unique customers
# by implementing 'nunique()' method
# which shows number of unique entities

476

### List all unique products and their categories.

In [7]:
df['product'].unique()

array(['Smartwatch', 'Keyboard', 'Headphones', 'Mouse', 'Tablet',
       'Laptop', 'Monitor', 'Smartphone'], dtype=object)

In [8]:
df['category'].unique()

array(['Wearables', 'Accessories', 'Electronics'], dtype=object)

### What is the date range of the dataset (earliest to latest order)?

In [12]:
# earliest and latest order dates
print(df['order_date'].min())
print(df['order_date'].max())

2023-01-01
2024-12-30

### What is the average order value (total_amount)?

In [13]:
df['total_amount'].mean()

np.float64(52685.0345)

### Which payment mode is used most frequently?

In [16]:
df['payment_mode'].value_counts()
# UPI is the most frequently used payment method

payment_mode
UPI                 211
Credit Card         210
Cash on Delivery    201
Net Banking         195
Debit Card          183
Name: count, dtype: int64

In [19]:
# Which region has the highest number of orders?
df['region'].value_counts()
# west have the most orders

region
West       206
East       200
South      199
North      199
Central    196
Name: count, dtype: int64

### What is the average quantity per order?

In [26]:
round(df['quantity'].mean(),0)

np.float64(3.0)

### Which product has the highest average unit price?

In [27]:
df['product'].unique()

array(['Smartwatch', 'Keyboard', 'Headphones', 'Mouse', 'Tablet',
       'Laptop', 'Monitor', 'Smartphone'], dtype=object)

In [33]:
df.groupby('product')['total_amount'].mean().sort_values(ascending=False)
# laptop is the most expensive...i.e most avg. price

product
Laptop        165963.028750
Smartphone     92915.236752
Tablet         61682.353309
Monitor        47637.106786
Smartwatch     30354.996617
Headphones     12119.839130
Keyboard        7162.276400
Mouse           4509.760965
Name: total_amount, dtype: float64

### What percentage of orders received no discount?

In [36]:
df[df['discount_percent'] == 0].shape[0]

281

In [ ]:
# no discount percent
no_discount_percent = ((df[df['discount_percent'] == 0].shape[0])/(df.shape[0])) * 100
no_discount_percent
# 28.1 percent orders have no discount

28.1